section {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 50%;
margin-left: 50px;
  transform: translateY(-50%);
  backdrop-filter: blur(3px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50px ;
}
form {
  & .Welcome {
    font-size: 25pt;
    text-align: center;
    padding-block: 1.875rem;
   

  }
  .inputs {
    width: 550px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 20px;
        color:  rgba(255, 255, 255, 0.7);
p{
        color:  rgba(255, 255, 255, 0.7);

}

    gap: 1rem;

    input::placeholder {
        color: rgba(255, 255, 255, 0.7); 
        font-style: italic; 
        font-size: 16px; 
    }

    input:focus {
      opacity: 1;
      outline: none;
    }

    .cred {
      width: 450px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      border: none;
      border-bottom: 1px solid;
      padding-left: 15px;
      background: transparent;

    }
  }

  width: 750px;
  height: 550px;
  padding: 3.125rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  gap: 10px;
  

  & .check {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    padding-left: 25px;

  }

  a {
    /* display: flex; */
    display: flex;
    margin-left: 190px;
color: #dd5d36;
  }
}
.btn {
  width: 450px;
  height: 50px;
  margin: auto;

  border-radius: 5px;
  border: none;
  background-color: #dd5d36;
  color:  rgba(255, 255, 255, 0.7);
  &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -40px inset;
        cursor: pointer;
    transition: 0.5s ease;
  }
}
