.slide{
        display: flex;
        justify-content:center;
        align-items: center;
        padding-block: 40px;
        


        .arrow{
        width: 2.3rem;
        height: auto;
        cursor: pointer;
                
}
.slide-img{
        width: 950px;
        height:150px;
        border-radius: 3px;
        background-image: url(../assets/img/manutençao.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
}
}